@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;500&display=swap');

body {
    margin: 0%;
    background-color: rgb(255, 248, 147);
}

::placeholder {
    color: white !important;
}

.text {
    font-family: 'Readex Pro', sans-serif;
}

/* INPUTS */

.input {
    width: 200px;
    height: 100px;
    border: 5px solid black;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(255, 214, 79);
    color: white !important;
    font-size: 50px;
}

.rhythm-input {
    margin-left: 10px;
    display: none;
}

#bpm-input {
    margin-right: 10px;
}

#bpm-slider-text {
    color: black;
    font-size: 80px;
}

#time-input {
    margin-left: 10px;
}

#polyrhythm-bpm-input {
    display: none;
}

#colon {
    margin-top: -23px;
    margin-left: 8px;
    display: none;
    font-size: 100px;
}

/* BUTTONS */

#start-button {
    margin-left: 10px;
    border-top: 40px solid transparent;
    border-right: none;
    border-bottom: 40px solid transparent;
    border-left: 70px solid black;
    background-color: transparent;
}

#start-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

#pause-button {
    display: none;
    border: none;
    background-color: transparent;
}

#pause-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

#open-configurations-button {
    top: 0px;
    right: 0px;
    margin-top: 5px;
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 50px;
}

#open-configurations-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

/*SWITCH*/

#time-switch-label {
    width: 60px;
    height: 34px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
}

.span {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #ccc;
    cursor: pointer;
    transition: .4s;
}

.span:before {
    width: 26px;
    height: 26px;
    bottom: 4px;
    left: 4px;
    position: absolute;
    background-color: white;
    content: "";
    transition: .4s;
}

input:checked+.span {
    background-color: rgb(255, 214, 79);
}

input:checked+.span:before {
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
}

.span.round {
    border-radius: 34px;
}

.span.round:before {
    border-radius: 50%;
}

/*SLIDE*/

#bpm-slider {
    margin-top: 7px;
    background-color: rgb(255, 214, 79);
}

input[type='range'] {
    height: 15px;
    border-radius: 10px;
    background-color: rgb(255, 214, 79);
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: -2px 0 0 2px black;
    cursor: pointer;
    -webkit-appearance: none;
}

/* CONTAINERS */

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
}

.child {
    flex: 1;
}

#main-container {
    transition: margin-left 0.5s, opacity 0.5s;
}

#title-container {
    height: 50px;
    margin-top: 80px;
    margin-bottom: 220px;
    font-size: 80px;
}

#interface-container {
    position: relative;
    border-style: solid;
    border-color: transparent;
}

#buttons-container {
    margin-top: 100px;
    border-style: solid;
    border-color: transparent;
}

#time-switch-container {
    margin-top: 20px;
    display: none;
}

#bpm-slider-text-container {
    width: 200px;
    height: 100px;
    display: none;
}

#bpm-slider-container {
    margin-top: 20px;
    display: none;
}

#configurations-container {
    width: 0;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    justify-content: space-between;
    background-color: rgb(255, 214, 79);
    color: black;
    text-decoration: none;
    overflow-x: hidden;
    transition: color, top 0.3s;
    transition: width 0.5s;
}

#configurations-container a {
    margin: 20px 0px;
    padding: 15px 50px;
    display: block;
    color: black;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

#configurations-container a:hover {
    cursor: pointer;
}

@media(hover: hover) and (pointer: fine) {
    #configurations-container a:hover {
        background-color: white;
        color: black;
    }
}

#items {
    width: 100%;
    top: 50%;
    margin-left: -100px;
    position: absolute;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.5s, margin 0.5s;
}

#version {
    bottom: 2%; left: 7%;
    position: absolute;
}